@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-default: #F2F2F3;
  --background-disabled: #CAC9CF;
  --foreground-inverse: #19181B;
  --foreground-default: #19181B;
  --foreground-secondary: #4A4950;
  --foreground-tertiary: #7B7986;
  --foreground-disabled: #B0AFB6;
  --foreground-inverse: #F2F2F3;
  --border-color-default: #E5E4E7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-default: #0C0C0D;
    --background-disabled: #19181B;
    --foreground-inverse: #F2F2F3;
    --foreground-default: #F2F2F3;
    --foreground-secondary: #CAC9CF;
    --foreground-tertiary: #96949E;
    --foreground-disabled: #63616B;
    --foreground-inverse: #0C0C0D;
    --border-color-default: #313036;
  }
}

body {
  color: var(--foreground-default);
  background: var(--background-default);
  font-family: Arial, Helvetica, sans-serif;
}

td > a:hover {
text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
